body {
  background-color: #752020;
  color: #fff;
  font-size: 20px;
}

.form-group {
  width: 190px;
  color: #000;
  text-align: center;
  padding-bottom: 4px;
  padding-left: 5px;
  padding-top: 3px;
  padding-right: 5px;
  border: 1px dashed black;
  background-color: #e3ab1c;
}

.form-control {
  font-size: 16px;
  display: flex;
  text-align: center;
  margin-left: 3%;
}

.bar {
  width: 200px;
  margin-left: 0px;
}




#header {
  margin-left: 20%;
  color: black;
}

.header-text{
  font-size: 60px;
  margin-top: auto;
  display: inline-block;
}

#buttons {
  display: inline-block;
  position: relative;
  float: right;
}

.header-button{
  display: block;
  background-color: #e3ab1c;
  border: 2px solid #e3ab1c;
  color: black;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 110px;
}

.header-button:hover{
  background-color: #996c14;
  color: white;
}

hr {
  border-top: 8px solid #e3ab1c;
  border-radius: 5px;
}

#paw {
  cursor: pointer;
}

.header-name{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: red;
}
.hidden {
  display: none;
}
